@use '../base/variables' as v;

.formulario {

    fieldset {
        margin-bottom: 1rem;
    }

    legend {
        font-size: 2rem;
        color: v.$gris-oscuro;
    }
    label {
        font-weight: v.$bold;
        text-transform: uppercase;
    }
    input:not([type="radio"], [type="submit"]),
    textarea,
    select {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: .5rem;

        border-radius: .5rem;
        border: 1px solid v.$gris;
    }

    textarea {
        max-width: 100px;
        min-width: 100%;
    }
    p {
        font-size: 1.4rem;
        color: v.$gris-oscuro;
    }

    [type="radio"] {
        margin: 0 1rem;
    }

    [type="submit"] {
        padding-block: 1rem;
    }


    img {
        width: 20rem;
        margin: 1rem 0;
    }
}