@use './variables' as v;
@use './mixins' as m;

.seccion {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}

// Alineacion
.contenido-centrado {
    max-width: 800px;
}
.alinear-derecha {
    text-align: end;
}

// Texto
.txt-resaltado {
    color: v.$amarillo;
}