@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    margin-bottom: 0;
    background-color: v.$gris-oscuro;

    .contenedor-footer {
        padding: calc(v.$separacion / 2) 0;

        .copyright {
            text-align: center;
            color: v.$blanco;
        }
    }
}