@use '../base/variables' as v;
@use '../base/mixins' as m;


.header {
    background-color: v.$gris-oscuro;

    &.inicio {
        height: 600px;
    
        background-image: url(../img/header.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .navegacion {
        display: flex;


        @include m.tablet {
            // display: none;
            position: absolute;
            top: 100%;
            left: 0;

            flex-direction: column;
            align-items: center;
            width: 100%;

            background-color: v.$gris-oscuro;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: all .4s ease;
        }

        a {
            @include m.tablet {
                text-align: center;
            }

            &:hover {
                color: v.$verde;
            }
        }

        &.no-background {
            background-color: transparent;
        }
    }
    .mostrar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}

.header-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100%;

    h1 {
        max-width: 60rem;

        font-weight: v.$bold;
        text-align: left;
        color: v.$blanco;

        @include m.tablet {
            margin-inline: auto;
            text-align: center;
        }
    }
}

.dark-mode-boton {
    display: inline-block;
    width: 30px;
    cursor: pointer;
}